<div class="appointmentAgent-button" (click)="mostraAppointment()">
  <div class="icon-container">
    <img src="/profile/appointment.png" alt="appuntamento" class="icon" />
  </div>
  <div class="text-container">
    <h3>Appuntamento</h3>
    <p>Visualizza i tuoi appuntamenti giornalieri</p>
  </div>
</div>

<modal-profile [isOpen]="showAppointment" (close)="closeAppointment()" popUpName="Appuntamenti ricevuti">
  <div class="extern-appointment-div">
    <appointments-component [appuntamenti]="appuntamenti" [isAdmin]="true" (appointmentSignal)="manageOffertaSignal($event)"/>
  </div>
</modal-profile>

<pop-up-component [popUp]="popUpData" [isOpen]="popUp" (close)="popUp = false" />