
<div class="insert-admin-button" (click)="openInsertAdmin()">
  <div class="icon-container">
    <img src="/profile/amministratore.png" alt="Inserisci Admin" class="icon" />
  </div>
  <div class="text-container">
    <h3>Inserisci Amministratore</h3>
    <p>Inserisci un amministratore nel sito</p>
  </div>
</div>

<modal-profile [isOpen]="showInsertAdmin" (close)="closeInsertAdmin()" popUpName="Inserimento Amministratore">
  <div class="pop-up-scroll">
    <div class="input-form">
      <form [formGroup]="amministratoreForm" (ngSubmit)="inserisciAmministratore()">
      
        <div class="input-container">
          <input type="text"  class="input-field" formControlName="nome" required>
          <label for="nome" class="input-label">Nome</label>
        </div>

        <div class="input-container">
          <input type="text" class="input-field" formControlName="cognome" required>
          <label for="cognome" class="input-label">Cognome</label>
        </div>
          
        <div class="input-container">
          <input type="date" class="input-field" formControlName="dataNascita"  placeholder=" " [class.date-filled]="amministratoreForm.get('dataNascita')?.value" required>
          <label for="dataNascita" class="input-label">Data di Nascita</label>
        </div>
          
        <div formGroupName="indirizzo">
          <div class="input-container">
            <input type="text" class="input-field" formControlName="citta" required>
            <label for="citta" class="input-label">Città</label>
          </div>

          <div class="input-container">
            <input type="text" class="input-field" formControlName="via" required>
            <label for="via" class="input-label">Via</label>
          </div>

          <div class="input-container">
            <input type="number" class="input-field" formControlName="num_civico" required>
            <label for="numeroCivico" class="input-label">Numero Civico</label>
          </div>
        </div>

        <div class="input-container">
          <input type="text" class="input-field" formControlName="codiceFiscale" required>
          <label for="codiceFiscale" class="input-label">Codice Fiscale</label>
        </div>

        <div class="input-container">
          <input type="text" class="input-field" formControlName="partitaIva" required>
          <label for="partitaIva" class="input-label">Partita Iva</label>
        </div>

        <div class="input-container">
          <div class="radio-row">
            <label class="radio-label">Genere:</label>
            <div class="radio-group">
              <label>
                <input type="radio" formControlName="genere" value="M" /> Maschio
              </label>
              <label>
                <input type="radio" formControlName="genere" value="F" /> Femmina
              </label>
            </div>
          </div>
        </div>

        <div class="input-container">
          <input type="email" class="input-field" formControlName="email" required>
          <label for="email" class="input-label">Email</label>
        </div>
          
        <div class="input-container">
          <input type="password" class="input-field" formControlName="password_c" required>
          <label for="password" class="input-label">Password</label>
        </div>

        <button type="submit" class="confirm-button" [disabled]="amministratoreForm.invalid">Conferma</button>
      </form>
    </div>
  </div>
</modal-profile>

<pop-up-component [popUp]="popUpData"/>
