<div class="manager-page">
  <h1>Profilo</h1>
  <div class="grid-container">
    <!-- Colonna 1 -->
    <div class="grid-item">
      <manageAgent-component></manageAgent-component>
    </div>
    <div class="grid-item">
     <insertAgent-component></insertAgent-component>
    </div>

    <!-- Colonna 2 -->
    <div class="grid-item">
      <personalDataManager-component> </personalDataManager-component>
     <!-- <agencyDataManager-component> </agencyDataManager-component> -->
    </div>
    <div class="grid-item">
     <!-- <appointmentManager-component></appointmentManager-component> -->
    </div>

     <!-- Colonna 3 -->
    <div class="grid-item">
      <!-- <communications-component></communications-component> -->
    </div>
    <div class="grid-item">
       <!-- <personalDataManager-component> </personalDataManager-component> -->
    </div>
  </div>
</div>

  