<div class="admin-page">
  <h1>Profilo</h1>
  <div class="grid-container">
    <!-- Colonna 1 -->
    <div class="grid-item">
      <insertManager-component></insertManager-component>
    </div>
    <div class="grid-item">
      <insertAdmin-component></insertAdmin-component>
    </div>

    <!-- Colonna 2 -->
    <div class="grid-item">
      <manageAdmin-component></manageAdmin-component>
    </div>
    <div class="grid-item">
      <personalDataAdmin-component> </personalDataAdmin-component>
    </div>

     <!-- Colonna 3 -->
    <div class="grid-item">
   <!--   <communications-component></communications-component> -->
    </div>
    <div class="grid-item">
        <!--  <agencyDataAdmin-component> </agencyDataAdmin-component> -->
    </div>
  </div>
</div>

  