<div class="cliente-page">
  <h1>Profilo</h1>
  <div class="grid-container">
    <!-- Colonna 1 -->
    <div class="grid-item">
      <favorites-component></favorites-component>
    </div>
    <div class="grid-item">
      <offer-component></offer-component>
    </div>

    <!-- Colonna 2 -->
    <div class="grid-item">
      <property-displayed-component></property-displayed-component>
    </div>
    <div class="grid-item">
      <personaldata-component></personaldata-component>
    </div>

     <!-- Colonna 3 -->
    <div class="grid-item">
      <appointment-component></appointment-component>
    </div>
    <div class="grid-item">
   <!--  <agencydata-component></agencydata-component> -->
    </div>
  </div>
</div>

  