<div class="agent-page">
  <h1>Profilo</h1>
  <div class="grid-container">
    <!-- Colonna 1 -->
    <div class="grid-item">
      <manageproperty-component></manageproperty-component>
    </div>
    <div class="grid-item">
       <myproperty-component ></myproperty-component>
    </div>

    <!-- Colonna 2 -->
    <div class="grid-item">
      <personalDataAgent-component></personalDataAgent-component>
    </div>
    <div class="grid-item">
       <offerAgent-component></offerAgent-component>
    </div>

     <!-- Colonna 3 -->
    <div class="grid-item">
      <appointmentAgent-component></appointmentAgent-component>
    </div>
    <div class="grid-item">
          <!--   <agencyDataAgent-component></agencyDataAgent-component> -->
    </div>
  </div>
</div>

  